{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<title>GAME MATCHING </title>
</head>
<body>

<h1>GAME MATCHMAKING SITE</h1>
<p>This is a game matchmaking website which aims to create better teams and helphave better fun together</p>
<br><h2>Steps to play</h2></br>
<ul>
  <li>Log into the page</li>
  <li>Enter your details</li>
  <li>Press search</li>
  <li>Find teamates based on the skill</li>
  <li>Enjoy the game</li>
</ul>
<form action="http://127.0.0.1:8000/ui-icons.html" target="_blank">
		<button type="submit" class="btn btn-fill btn-primary"> Continue </button>
</form>

</body>
</html>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->


{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
