{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
         <h4 class="card-title"> Team Matching </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <tr>
                  <th class="text-center">
                    User Name
                  </th>
                  <th class="text-center">
                    Goals
                  </th>
                  <th class="text-center">
                    Assist
                  </th>
                  <th class="text-center">
                    Saves
                  </th>
                  <th class="text-center">
                    Shots
                  </th>
                  <th class="text-center">
                    MVP
                  </th>
                  <th class="text-center">
                    Wins
                  </th>
                  <th class="text-center">
                    Scores
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    more
                  </td>
                  <td class="text-center">
                    0.5056
                  </td>
                  <td class="text-center">
                    0.2267
                  </td>
                  <td class="text-center">
                    0.4944
                  </td>
                  <td class="text-center">
                    0.7785
                  </td>
                  <td class="text-center">
                    0.4831
                  </td>
                  <td class="text-center">
                    0.6266
                  </td>
                  <td class="text-center">
                    2.01885
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    tempy
                  </td>
                  <td class="text-center">
                    0.5169
                  </td>
                  <td class="text-center">
                    0.1667
                  </td>
                  <td class="text-center">
                    1.0000
                  </td>
                  <td class="text-center">
                    0.5063
                  </td>
                  <td class="text-center">
                    0.1348
                  </td>
                  <td class="text-center">
                    1.0000
                  </td>
                  <td class="text-center">
                    2.10023
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    zen
                  </td>
                  <td class="text-center">
                    0.4831
                  </td>
                  <td class="text-center">
                    0.6667
                  </td>
                  <td class="text-center">
                    0.1389
                  </td>
                  <td class="text-center">
                    1.0000
                  </td>
                  <td class="text-center">
                    0.8427
                  </td>
                  <td class="text-center">
                    0.5633
                  </td>
                  <td class="text-center">
                    2.49173
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    temp
                  </td>
                  <td class="text-center">
                    0.5618
                  </td>
                  <td class="text-center">
                    0.5200
                  </td>
                  <td class="text-center">
                    0.6667
                  </td>
                  <td class="text-center">
                    0.7595
                  </td>
                  <td class="text-center">
                    0.4494
                  </td>
                  <td class="text-center">
                    0.9494
                  </td>
                  <td class="text-center">
                    2.55983
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    tempo
                  </td>
                  <td class="text-center">
                    0.8427
                  </td>
                  <td class="text-center">
                    1.0000
                  </td>
                  <td class="text-center">
                    0.2222
                  </td>
                  <td class="text-center">
                    0.3797
                  </td>
                  <td class="text-center">
                    0.3483
                  </td>
                  <td class="text-center">
                    0.8354
                  </td>
                  <td class="text-center">
                    2.57711
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    mulk
                  </td>
                  <td class="text-center">
                    0.2584
                  </td>
                  <td class="text-center">
                    0.6600
                  </td>
                  <td class="text-center">
                    0.8333
                  </td>
                  <td class="text-center">
                    0.8354
                  </td>
                  <td class="text-center">
                    1.0000
                  </td>
                  <td class="text-center">
                    0.6329
                  </td>
                  <td class="text-center">
                    2.75627
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    pooh
                  </td>
                  <td class="text-center">
                    1.0000
                  </td>
                  <td class="text-center">
                    0.5933
                  </td>
                  <td class="text-center">
                    0.4333
                  </td>
                  <td class="text-center">
                    0.9494
                  </td>
                  <td class="text-center">
                    0.5169
                  </td>
                  <td class="text-center">
                    0.9494
                  </td>
                  <td class="text-center">
                    2.98548
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}




