{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
         <h4 class="card-title"> Team Matching </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <tr>
                  <tr>
                    <th class="text-center">
                      User Name
                    </th>
                    <th class="text-center">
                      Goals
                    </th>
                    <th class="text-center">
                      Assist
                    </th>
                    <th class="text-center">
                      Saves
                    </th>
                    <th class="text-center">
                      Shots
                    </th>
                    <th class="text-center">
                      MVP
                    </th>
                    <th class="text-center">
                      Wins
                    </th>
                    <th class="text-center">
                      Scores
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <td class="text-center">
                    more
                  </td>
                  <td class="text-center">
                    45
                  </td>
                  <td class="text-center">
                    34
                  </td>
                  <td class="text-center">
                    89
                  </td>
                  <td class="text-center">
                    123
                  </td>
                  <td class="text-center">
                    43
                  </td>
                  <td class="text-center">
                    99
                  </td>
                  <td class="text-center">
                    1.77417
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    tempy
                  </td>
                  <td class="text-center">
                    46
                  </td>
                  <td class="text-center">
                    25
                  </td>
                  <td class="text-center">
                    180
                  </td>
                  <td class="text-center">
                    80
                  </td>
                  <td class="text-center">
                    12
                  </td>
                  <td class="text-center">
                    158
                  </td>
                  <td class="text-center">
                    1.99881
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    zen
                  </td>
                  <td class="text-center">
                    43
                  </td>
                  <td class="text-center">
                    100
                  </td>
                  <td class="text-center">
                    25
                  </td>
                  <td class="text-center">
                    158
                  </td>
                  <td class="text-center">
                    75
                  </td>
                  <td class="text-center">
                    89
                  </td>
                  <td class="text-center">
                    2.09995
                  </td>
                </tr>
            </tbody>
          </table>
          <div class="col-md-3">
            <a href="https://pacman.cc/">
            <button class="btn btn-primary btn-block" > REDIRECT TO GAME WITH TEAM </button>
            </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

